* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    position: relative;
    margin: 5vh auto;
    width: 1000px;
    height: 500px;
}

.vertical {
    display: none;
}

#canvasHtml {
    background: url(../img/grid.jpg);
}

.btnEnlarge {
    display: block;
    position: relative;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

@media all and (orientation: portrait) {
    .container {
        display: none;
    }
    .vertical {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background: url(../img/vertical.jpg);
        background-size: cover;
        background-position: center;
    }
}